[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bugwarrior = {editable = true, extras = ["activecollab", "bts", "bugzilla", "gmail", "jira", "kanboard", "keyring", "megaplan", "phabricator", "trac"], path = "."}
MarkupSafe = "*"

[dev-packages]
codecov = "*"
importlib-metadata = "*"  # for python_version < "3.8" compatibility
typing_extensions = "*"  # for python_version < "3.8" compatibility
pytest = "*"
pytest-cov = "*"
responses = "*"

[requires]
python_version = "3.8"
