[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bugwarrior = {editable = true, extras = ["activecollab", "bts", "bugzilla", "gmail", "jira", "megaplan", "phabricator", "trac"], path = "."}
chardet = "*"
kitchen = "*"
MarkupSafe = "*"

[dev-packages]
codecov = "*"
coverage = "*"
mock = "*"
nose = "*"
responses = "*"

[requires]
python_version = "3.7"
